.App {
  text-align: center;
  background-color: #ebe5be9d;
  width: 300px;
  margin: 10px auto;
}

.App-header {
  margin: 0;
  background-color: #282c34a8;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(12px + 2vmin);
  color: white;
}
